<h2>Entries with high value transactions</h2>
<table class="mp-summary">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current</th>
            <th>Since 2016</th>
            <th>Last Entry</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="detail.html">COX, GEOFFREY</a></td>
            <td>+/- £250,000</td>
            <td>+/- £2,000,000</td>
            <td>11/05/2020</td>
        </tr>
        <tr>
            <td><a href="detail.html">JOHNSON, BORIS</a></td>
            <td>+/- £750,000</td>
            <td>+/- £2,000,000</td>
            <td>11/05/2020</td>
        </tr>
        <tr>
            <td><a href="detail.html">OSBORNE, GEORGE</a></td>
            <td>+/- £1,500,000</td>
            <td>+/- £1,500,000</td>
            <td>02/05/2017</td>
        </tr>
    </tbody>
</table>
