<h2>Entries with high value transactions</h2>
<table class="mp-summary">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current</th>
            <th>Since 2016</th>
            <th>Last Entry</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let summary of interestSummaries'>
            <td><a [routerLink]="['/detail', summary.identifier]">{{ summary.name }}</a></td>
            <td>+/- {{summary.currentValue | currency : 'GBP' : 'symbol' : '1.0-0'}}</td>
            <td>+/- {{summary.historicalValue | currency : 'GBP' : 'symbol' : '1.0-0'}}</td>
            <td>{{summary.latestEntryDate | date:'shortDate' }}</td>
        </tr>
    </tbody>
</table>
