<html>
<head>
    <title>MPs' Financial Interests Explorer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="css/meyer-reset.css" rel="stylesheet" />
    <link href="css/mp-root.css" rel="stylesheet" />
    <link href="css/mp-med.css" rel="stylesheet" />
    <link href="css/mp-small.css" rel="stylesheet" />
</head>

<body>
    <div id="container">
        <h1>MPs' financial interests explorer</h1>
        <h2 class="mp-detail-header">JOHNSON, BORIS <span>Current: +/- £750,000</span> <span>Since 2016: +/- £2,000,000</span></h2>
        <table class="mp-detail">
            <thead>
                <tr>
                    <th>Publication</th>
                    <th>Total declared</th>
                    <th>Change (approx)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="subtraction">
                    <td><a href="#">11/05/2020</a></td>
                    <td>+/- £750,000</td>
                    <td class="amount">- £150,000</td>
                </tr>
                <tr class="nochange">
                    <td><a href="#">27/04/2020</a></td>
                    <td>+/- £1,000,000</td>
                    <td class="amount">£0</td>
                </tr>
                <tr class="addition">
                    <td><a href="#">14/04/2020</a></td>
                    <td>+/- £1,000,000</td>
                    <td class="amount">£5000</td>
                </tr>
            </tbody>
        </table>

        <footer>
            <p>This website accompanies a  <a href="https://www.linkedin.com/pulse/see-how-mps-have-declared-more-than-60-million-financial-stuart-barr/">series of articles</a> which aim to add value to the data published by Parliament about MPs' financial interests using Azure and .NET core technologies.</p>
            <p>The source of the data is <a href="https://www.parliament.uk/mps-lords-and-offices/standards-and-financial-interests/parliamentary-commissioner-for-standards/registers-of-interests/register-of-members-financial-interests/">Parliament's Register of Members' Financial Interests</a></p>
            <p>The data is licensed under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence 3.0</a></p>
        </footer>
    </div>
</body>
</html>