body 
{
	font-size:16px/24px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li 
{
	font-family: 'Didact Gothic', sans-serif;
}


body
{
  background-color: #eff0f1;
  line-height: normal;
}

a, strong
{
    color: #3b3d4b;
}

h1{
    color: #3b3d4b;
}

h2 {
    color:#b49c73;
}

p, li, blockquote
{
    color:#3b3d4b;
	font-weight: normal;
}

h2.mp-detail-header {
    color: #3b3d4b;
}
.mp-detail-header span {
    white-space: nowrap; 
    color:#b49c73;
}

/* See https://css-tricks.com/responsive-data-tables/ for responsive data tables */
table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #ccc ; 
  }
  th { 
    background: #3b3d4b; 
    color: #eff0f1; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #3b3d4b;  
    text-align: left; 
  }
  tr.subtraction td.amount{
      background-color: #d13b40;
  }
  tr.addition td.amount{
    background-color: #4ec5a5;
}

